<template>
    <div>
      <v-hover :value="true">
        <v-form v-model="valid" @submit="addPost" >
            <v-container>
                <v-row align="center">
                    <v-col class="text-center" cols="12" >
                        <v-text-field
                            v-model="title"
                            :rules="titleRules"
                            :counter="15"
                            label="Title"
                            required
                        ></v-text-field>

                        <v-textarea
                            v-model="post"
                            :rules="postRules"
                            label="Post"
                            required
                        ></v-textarea>

                        <div>
                            <v-btn type="submit">Add</v-btn>
                        </div>
                    </v-col>
                </v-row>
            </v-container>
        </v-form>
        </v-hover>
    </div>
</template>

<script>
export default {
    name : "AddPost",
    data() {
        return {
            valid : false,
            title : '',
            post : '',
            titleRules: [
                v => !!v || 'Name is required',
                v => v.length <= 15 || 'Title must be less than 15 characters',
            ],
            postRules: [
                v => !!v || 'Post is required',
            ],
        }
    },
    methods : {
        addPost(e) {
            e.preventDefault();
            
            if(this.valid) {
                const newPost = {
                    title : this.title, 
                    post : this.post,
                }

                this.$emit('add-post',newPost);

                this.post = "";
                this.title = "";
            }
            
        }
    }
}
</script>

<style>

</style>