<template>
<div class="py-2">
  <v-card
    class="mx-auto "
  >
    <v-toolbar
      color="cyan"
      dark
    >
      <v-toolbar-title>All Posts</v-toolbar-title>
    </v-toolbar>

    <v-list three-line>
      <template v-for="post in posts"  >
         <PostItem :key="post.id" v-bind:post="post" v-on:del-post="$emit('del-post',post.id)" v-on:post="$emit('post',post)"/>
      </template>
    </v-list>
  </v-card>
</div>
</template>


<script>
import PostItem from './PostItem';

export default {
    name : "Posts",
    components : {
        PostItem,
    },
    props : ["posts"]
}
</script>