<!--<template>
   <div class="align">
      <h4> {{ post.post }} </h4>
      <button class="edit" @click="$emit('edit-post',post.id) "> E </button>
      <button class="del" @click="$emit('del-post',post.id) "> X </button>
  </div> 
</template>-->

<template>
    <div>
        <v-divider
          :inset="true"
        ></v-divider>

        <v-list-item
          :key="post.title"
        >

          <v-list-item-content @click="$emit('post',post)">
                <v-list-item-title v-html="post.title"></v-list-item-title>
                <v-list-item-subtitle v-html="post.post"></v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-action>
               <v-btn class="mx-2" fab dark x-small color="primary" @click="$emit('del-post',post.id)" >
                    <v-icon dark>mdi-minus</v-icon>
                </v-btn>
          </v-list-item-action>
        </v-list-item>

        
      </div>
</template>

<script>
export default {
    name : "PostItem",
    props : ["post"]
}
</script>

<style >
.del {
    background-color: red;
    width : 2em;
    border-radius: 20px;
    text-align: center;
}

.edit {
    background-color: blue;
    color: white;
    width : 2em;
    border-radius: 20px;
    text-align: center;
}
</style>