<template>
  <v-card
  shaped
    class="mx-auto"
    :dark="true"
  >
    <v-card-title v-html="post.title"></v-card-title>
    <v-card-text>
      <div>
          {{post.post}}
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
    name : "ViewPost",
    props : [
        "post" 
    ],
}
</script>