<template>
  <div id="app">
    <v-row class="text-center">
      <v-col cols="12" md="6" >
        <AddPost v-on:add-post="addPost" />

        <ViewPost v-if="view" v-bind:post="viewPost" />
      </v-col>
      <v-col cols="12" md="6" >
        CLICK ON THE POST TO SHOW IT 
        <Posts v-bind:posts="posts" v-on:del-post="deletePost"  v-on:post="post"/>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import Posts from './components/Posts'
import AddPost from './components/AddPost'
import ViewPost from './components/ViewPost'
import axios from 'axios'

export default {
  name: 'App',
  components: {
    Posts,
    AddPost,
    ViewPost
  },
  data() {
    return {
      view : false,
      viewPost : { },
      posts : [ ]
    }
  },

  created : {
    getPosts() {
      axios.get("http://localhost:8000/api/v1/post", { "content-type" : "application/json"})
      .then((res) => {
        this.posts = res.data; 
      })
      .catch((error) => {
        alert(error)
      })
    }
  },

  methods : {
    deletePost(id) {

      axios.delete("http://localhost:8000/api/v1/post/"+id, { "content-type" : "application/json"},)
      .then(() => {
        this.posts = this.posts.filter(post => post.id !== id)
      })
      .catch((error) => {
        alert(error)
      })
    },

    addPost(newPost) {
      
      axios.post("http://localhost:8000/api/v1/post",newPost, { "content-type" : "application/json"})
      .then((res) => {
        this.posts = [...this.posts, res.data];
      })
      .catch((error) => {
        alert(error)
      })
    },

    post(post) {
       this.view = true;
       this.viewPost = post;
      console.log(post);
      
    },
  },

}
</script>

<style >
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
